#leftcolumn h2
{
	font-weight:bold;
	color:#CC4547;
	text-align:justify;
	line-height:150%;
	display:block;
	padding-left:40px;
	padding-right:40px;
	font-family:Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-size:15x;
}




	


