@charset "utf-8";

/* reset all spacing, etc to known values */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family:Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	vertical-align: baseline;
	font-style: normal;
	text-decoration: none;
}

/* -=- -=- -=- COMMON TAGS -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- */

/* headers */ 
h1 {
	margin: 0 0 10px 0;
	font-size: 20pt; /* always use points for fontsize unless absolutely necessary */
	color:#CC4547;
	font-weight:bold;
}
h2 {
	margin: 0 0 10px 0;
	font-size: 18pt; /* always use points for fontsize unless absolutely necessary */
	color:#CC4547;
	font-weight:bold;
}

p {
	text-align:justify;
}


/* -=- -=- -=- GENERIC CLASSES -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- */

.italic {
	font-style:italic;
}


/* -=- -=- -=- TEMPLATE RELATED -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- */

#pagewrapper
{
	min-width: 960px;
	margin-left: auto;
	margin-right: auto;
	width:35%;
}

#header {
	min-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
	#header h1 {
		min-width: 280px;
		min-height: 64px;
		background: url("../img/header-image.png") no-repeat;
	}
	#header h1 a  {
		text-indent: -999em; /* moves the link's text outside of the A's borders */
		overflow: hidden; /* makes things outside of the A invisible (aka the text) */
		display: block;
		white-space: nowrap;
	}

#mainwrapper
{
	min-width: 960px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}


body
{
	background: url("../img/Background-Image.png") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	text-align:justify;
}

.navbar {
	box-shadow: 0px 5px 5px #737373;
	margin-top: auto;
	background-color: #04A5F3;
	text-align: center;
	text-decoration: none;	
	list-style-type:none;
	background: -moz-linear-gradient(top,  rgba(77,135,148,0.94) 0%, rgba(82,142,156,0.99) 2%, rgba(76,132,145,0.99) 20%, rgba(51,88,97,0.99) 77%, rgba(44,77,85,0.99) 98%, rgba(42,73,80,0.94) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,135,148,0.94)), color-stop(2%,rgba(82,142,156,0.99)), color-stop(20%,rgba(76,132,145,0.99)), color-stop(77%,rgba(51,88,97,0.99)), color-stop(98%,rgba(44,77,85,0.99)), color-stop(100%,rgba(42,73,80,0.94))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(77,135,148,0.94) 0%,rgba(82,142,156,0.99) 2%,rgba(76,132,145,0.99) 20%,rgba(51,88,97,0.99) 77%,rgba(44,77,85,0.99) 98%,rgba(42,73,80,0.94) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(77,135,148,0.94) 0%,rgba(82,142,156,0.99) 2%,rgba(76,132,145,0.99) 20%,rgba(51,88,97,0.99) 77%,rgba(44,77,85,0.99) 98%,rgba(42,73,80,0.94) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(77,135,148,0.94) 0%,rgba(82,142,156,0.99) 2%,rgba(76,132,145,0.99) 20%,rgba(51,88,97,0.99) 77%,rgba(44,77,85,0.99) 98%,rgba(42,73,80,0.94) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(77,135,148,0.94) 0%,rgba(82,142,156,0.99) 2%,rgba(76,132,145,0.99) 20%,rgba(51,88,97,0.99) 77%,rgba(44,77,85,0.99) 98%,rgba(42,73,80,0.94) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04d8794', endColorstr='#f02a4950',GradientType=0 ); /* IE6-9 */
}

	.navbar ul {
		word-spacing: 80px;
		font-family:"Dolce Vita Heavy", Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
		padding:15px;
	}

	.navbar ul li {
		display:inline;
		margin:0px;
		padding:0px;
		font-size:130%;
		text-transform:uppercase;
		width: 100px;
	}

		.navbar ul li a {
			text-decoration:none;
			color:#FFFFFF;
		}

		.navbar ul li a:hover {
			color:#00D0FF;
		}


#content {
	background: #fff; /* you can also use the XXX instead of XXXXXX */
}

	#leftcolumn {
		width: 640px;
		float:left;
		margin: 25px 0 0 0;
	}

		#leftcolumn p {
			line-height:150%;
			display:block;
			margin: 0 40px 24px 40px; 
		}

	#rightcolumn {
		width:320px;
		margin: 25px 0 0 0;
		min-height:450px;
		background:#FFFFFF;
		float:left;
	}

		#rightcolumn img {
			margin-left:auto;
			margin-right:auto;
		}

	.portraitimage
	{
		display: block; 
		margin-left: auto; 
		margin-right: auto;
	}

	#socialmedia {
		margin-top: auto;
	}

	#socialmedia ul
	{
		text-align:center;
		padding:15px;
	}

	#socialmedia ul li
	{
		display:inline;
		margin:0px;
	}

#footer
{
	float:left;
	background:#D4D4D4;
	min-width:inherit;
	height:50px;
}

	#footer p
	{
		padding:10px;
		text-align:center;
		font-size:12px;
	}

#footer pre {
	font-size:12px;
	float:right;
	padding-right:25px;
}


.welcome
{
	padding-left:7%;
	padding-top:5%;
}

.signature
{
	padding-right:7%;
	padding-top:5%;
	padding-bottom:2%;
	float:right;
}

.quote {
	text-align:center;
	line-height:150%;
	display:block;
	padding-top:25px;
	padding-left:40px;
	padding-right:40px;
	font-style:italic;
}

