#leftcolumn h2
{
	font-weight:bold;
	color:#CC4547;
	text-align:center;
	line-height:150%;
	display:block;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:10px;
	font-family:Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-size:15px;
}

#leftcolumn h3
{
	color:#CC4547;
	text-align:justify;
	line-height:150%;
	display:block;
	padding-left:80px;
	padding-right:40px;
	font-family:Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-size:12px;	
}

#leftcolumn ul
{
	padding-bottom:10px;
}

#leftcolumn ul li
{
	text-align: center;
	line-height: 150%;
	display: block;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom:5px;
	font-family: Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-size: 12px;
}

#leftcolumn table
{
	background:#D4D4D4;
	margin-left:auto;
	margin-right:auto;
}

#leftcolumn table tr
{
	border:#000000;
}

#leftcolumn table tr td
{
	padding:1%;
	border:#000000;
}

#rightcolumn ul
{
	text-align:center;
}

#rightcolumn ul li
{
	font-family: Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-size: 12px;
}





	
