/*.welcome
{
	padding-left:7%;
	padding-top:5%;
}

.signature
{
	padding-right:7%;
	padding-top:5%;
	padding-bottom:2%;
	float:right;
}

.quote
{
	text-align:center;
	line-height:150%;
	display:block;
	padding-top:25px;
	padding-left:40px;
	padding-right:40px;
	font-family:Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-style:italic;
}
*/
